.kanban {
	min-height: 100%;
	height: 80%; 
	border-top: solid 1px #DCDCDC;
	margin: 0 auto;
	margin-top: 10px;
}

.kanban-inline {
	white-space:nowrap;
}
.layer {
	float: left;
	padding: 10px;
	text-align: center;
	border-right: solid 1px #DCDCDC;
	min-height: 500px;
	height: 100%;
    display: inline-block;
}


.layer h2 {
	padding-bottom: 10px;
}

.requirement {
	text-align: left;
	padding: 10px;
	border: 1px solid #D8D8D8;
	margin-bottom: 5px;
	min-width: 150px;
	background-color: #F2F5A9;
}

.form-widget {
	padding: 10px;
}